*{
  margin: 0;
  padding: 0;
  box-sizing: border-box
}
body{
  background: black;
  font-size: 14px;
  font-family: sans-serif;
  text-transform: capitalize;
}
div{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.margin{
  width: 450px;
  padding: 40px;
  background: #04AA6D;
  border: 1px dashed #bbb;
  margin: 20px auto;
}
.outline{
  padding: inherit;
  background: #f1f1f1;
}
.border{
  padding: inherit;
  background: #04AA6D;
}
.padding{
  padding: inherit;
  background: #f1f1f1;
}
.content{
  padding: inherit;
  border: 1px dashed #bbb;
  background: #FFFFFF;
}
.text{
  position: absolute;
  top: 15px;
}

.outline1{
  margin: 80px auto;
  outline: 40px solid #FFFFFF; /* ⚠ Outline don't occupy space. */
  border: 40px solid #04AA6D;
  padding: 40px;
  width: 290px;
  color: #FFFFFF;
}