a{
  display: block;
  margin: 10px;
}
/* link_decoration */
.link_decoration:link{
  text-decoration: none;
  color: #A0A0A0;
  font-weight: bold;
  padding: 15px 0;
}
.link_decoration:visited{
  color: #424242;
}
.link_decoration:hover{
  text-decoration: underline;
  color: #A0A0A0;
}
.link_decoration:active{
  color: var(--clr);
}

/* link_box */
.link_box:link, .link_box:visited{
  padding: 15px 25px;
  border: 2px solid var(--clr);
  display: inline-block;
  text-decoration: none;
  color: var(--clr);
}
.link_box:hover, .link_box:active{
  background: var(--clr);
  color: #FFFFFF;
}