*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
div{
  width: calc(50% - 22px);
  height: 100px;
  padding: 20px 25px;
  border: 2px solid #2C2C2C;
  margin: 50px 10px;
  background: #1f1f1f;
}
.inline{
  display: inline;
}
.inline-block{
  display: inline-block;
}
.block{
  display: block;
}

nav{
  margin: 20px 0;
}
ul{
  text-align: center;
}
li{
  background: #1F1F1F;
  padding: 15px 20px;
  display: inline-block;
}