a{
  display: block;
  margin: 10px;
}
/* link_decoration */
.link_decoration:link{
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 15px 0;
}
.link_decoration:visited{
  color: #666
}
.link_decoration:hover{
  text-decoration: underline;
  color: #000000;
}
.link_decoration:active{
  color: #1E90FF;
}

/* link_box */
.link_box:link, .link_box:visited{
  border: 2px solid #1E90FF;
  padding: 14px 25px;
  display: inline-block;
  text-decoration: none;
  color: #1E90FF;
}
.link_box:hover, .link_box:active{
  background: #1E90FF;
  color: #FFFFFF;
}