/* dropdown hoverable */
.dropdown_hoverable{
  position: relative;
  display: inline-block;
  padding: 15px;
  background: #1f1f1f;
}
.dropdown_hoverable_content{
  background: #000000;
  display: none;
  position: absolute;
  padding: 4px 15px;
  min-width: 180px;
  box-shadow: 0px 8px 15px #737373;
  white-space: nowrap;
  z-index: 1;
  margin: 10px
}
.dropdown_hoverable:hover .dropdown_hoverable_content{
  display: block;
}

/* dropdown menu */
.dropdown_menu{
  display: block;
  position: relative;
}
.dropdown_menu_btn{
  width: 100%;
  padding: 15px;
  margin-top: 20px;
  background: var(--clr);
  border: none;
  cursor: pointer;
}
.dropdown_menu_content{
  background: #151515;
  display: none;
  position: absolute;
  box-shadow: 0px 8px 15px #737373;
  z-index: 1;
  width: 100%;
}
.dropdown_menu_content a{
  display: block;
  color: #FFFFFF;
  text-decoration: none;
  padding: 15px 20px;
}
.dropdown_menu_content a:hover{
  background: #222;
}
.dropdown_menu:hover .dropdown_menu_content{
  display: block;
}

/* dropdown image */
.dropdown__image{
  width: 150px;
  height: 150px;
  background: #000000 url('../images/icon.png') no-repeat;
  background-size: cover;
  position: relative;
  display: block;
  margin: 50px auto;
  box-shadow: 0px 1px 5px #737373;
}
.dropdown__image > p{
  text-align: center;
  padding: 70px 0;
  color: #FFFFFF;
  background: linear-gradient(rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.01));
}
.dropdown__image__content{
  width: 200px;
  background: #000000;
  box-shadow: 0px 5px 15px #737373;
  position: absolute;
  z-index: 1;
  display: none;
}
.dropdown__image__content img{
  width: 100%;
}
.dropdown__image__content p{
  text-align: center;
  margin: 0;
  padding: 10px;
  background: #111;
}
.dropdown__image:hover .dropdown__image__content{
  display: block;
}
.dropdown__image:hover > p{
  background: rgba(0, 0, 0, 0.8);
}