div{
  margin: 30px auto;
  border: 1px solid var(--clr);
  width: 300px;
  height: 300px;
}

.color{
  background: var(--clr);
}

.image{
  background: url("../images/icon.png");
  background-size: cover;
}

.fixed{
  background: url("../images/icon.png");
  background-attachment: fixed;
  background-size: 100%;
}

.repeat{
  background: url("../images/icon.png");
  background-size: 100px;
}

.no-repeat{
  background: url("../images/icon.png");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 100px;
}

.short{
  background: var(--clr) url("../images/icon.png") no-repeat scroll top;
  background-size: contain;
}