*{
  margin: 0;
  padding: 0;
}
div, p{
  background: var(--clr);
  color: #FFFFFF;
  padding: 20px 30px;
}
.margin{
  margin-top: 30px;
  margin-right: 20px;
  margin-bottom: 70px;
  margin-left: 60px;
}
.margin_sort{
  margin: 30px 20px 70px 60px;
}
.auto{
  width: 80%;
  margin: 0 auto;
}
.inherit{
  margin: 50px;
}
.inherit p{
  border: 2px dashed #000000;
  margin: inherit;
}