/* common code */
div{
  margin: 15px 0;
}
.clearfix::after{
  content: '';
  display: table;
  clear: both;
}
/* common code */


/* types of button */
.btn{
  display: inline-block;
  margin: 10px 20px;
  border: none;
  border-radius: 10px;
  padding: 15px 35px;
  background: #00CC00;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
}
.btn:hover{
  background: #00BB00;
}

/* border on hover */
.border_btn1{
  border: 2px solid #00CC00;
  background: transparent;
  transition: all .5s ease-in-out;
}
.border_btn1:hover{
  background: #00CC00;
}
.border_btn2{
  border: 2px solid #00CC00;
  background: #00CC00;
  transition: all .5s ease-in-out;
}
.border_btn2:hover{
  background: transparent;
}


/* shadow on hover */
.shadow1{
  box-shadow: 0 7px 15px 0 rgba(100,255,100,.2), 0 15px 30px 0 rgba(100,255,100,.19);
}
.shadow2:hover{
  box-shadow: 0 7px 15px 0 rgba(100,255,100,.2), 0 15px 30px 0 rgba(100,255,100,.19);
}


/* disabled button */
.disabled{
  opacity: 0.6;
  cursor: not-allowed;
}


/* button group without border */
.btn_group .btn{
  margin: 0;
  border-radius: 0;
  float: left;
}
/* button group with border */
.btn_group_border .btn{
  border-right: 1px solid #FFFFFF;
}
.btn_group_border .btn:last-child{
  border-right: none;
}
/* button group vertical with border */
.btn_group_vertical .btn{
  border-bottom: 1px solid #FFFFFF;
  float: none;
  display: block;
}
.btn_group_vertical .btn:last-child{
  border-bottom: none;
}


/* animated buttons */
.animated_btn{
  width: 190px;
}
.animated_btn span{
  display: inline-block;
  position: relative;
  transition: all .5s ease-in-out;
}
.animated_btn span::after{
  content: '»';
  position: absolute;
  top: 0;
  right: -20px;
  opacity: 0;
  transition: all .5s ease-in-out;
}
.animated_btn:hover span{
  padding-right: 12px;
}
.animated_btn:hover span::after{
  right: 0;
  opacity: 1;
}


/* pressed buttons */
.pressed_btn{
  box-shadow: 0 8px #006F00
}
.pressed_btn:active{
  box-shadow: 0 5px #005F00;
  transform: translateY(4px)
}


/* ripple btn */
.ripple_btn{
  position: relative;
  width: 85px;
  overflow: hidden;
  transition: all .4s ease;
}
.ripple_btn::after{
  content: '';
  display: block;
  position: absolute;
  background: #F1F1F1;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -35px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all .8s ease;
}
.ripple_btn:active::after{
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}