*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
div{
  width: 330px;
  height: 180px;
  background-color: rgba(51, 51, 51, 0.6);
  padding: 20px 25px;
  border: 2px solid #888;
  font-family: monospace;
}
.main_form{
  margin: 100px auto;
  padding: 0;
  background-color: rgba(0, 204, 0, 0.6);
}
.main_form > div{
  transition: all 1s linear; 
}


.translate:hover{
  transform: translate(50px, 60px);
}


.rotate:hover{
  transform: rotate(-20deg);
}


.scale:hover{
  transform: scale(1.3, 1.6);
}
.scalex:hover{
  transform: scaleX(1.3);
}
.scaley:hover{
  transform: scaleY(1.6);
}


.skew:hover{
  transform: skew(15deg, 10deg);
}
.skewx:hover{
  transform: skewX(15deg);
}
.skewy:hover{
  transform: skewY(10deg);
}


.matrix:hover{
  transform: matrix(1.3, 0.3, 0.1, 1.6, 0, 0);
          /* matrix(scaleX(), skewY(), skewX(), scaleY(), translateX(), translateY()) */
}