p{
  padding: 15px;
}
.border_all{
  border-style: solid double dashed dotted;
  border-width: 3px 2px 3px 5px;
  border-color: #FF0000 #00FF00 #0000FF #FFFF00;
}

/* border width */
.border_width{
  border-style: solid;
  border-top-width: 3px;
  border-right-width: 2px;
  border-bottom-width: 3px;
  border-left-width: 5px;
}
.border_wid{
  border-style: solid;
  border-width: 3px 2px 3px 5px;
}

/* border style */
.border_style{
  border-top-style: solid;
  border-right-style: double;
  border-bottom-style: dashed;
  border-left-style: dotted;
}
.border_styl{
  border-style: solid double dashed dotted;
}

/* border color */
.border_color{
  border-style: solid;
  border-top-color: #FF0000;
  border-right-color: #00FF00;
  border-bottom-color: #0000FF;
  border-left-color: #FFFF00;
}
.border_clr{
  border-style: solid;
  border-color: #FF0000 #00FF00 #0000FF #FFFF00;
}

.border_short{
  border: 2px solid var(--clr);
}

.border_bottom{
  border-bottom: 3px solid var(--clr);
}
.border_round{
  border: 2px solid var(--clr);
  border-radius: 10px;
}

.border_master {
  border-width: 3px 2px 3px 5px;
  border-style: double dashed dotted;
  border-color: #FF0000 #00FF00 #0000FF #FFFF00;
}
