.common{
  margin: 15px 0;
  padding: 15px 20px;
  color: #FFFFFF;
  background: #1f1f1f;
}

/* anchor pseudo-classes */
a:link, a:visited{
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  border: 1px solid #FFFFFF;
}
a:hover, a:active{
  background: #FFFFFF;
  color: #000000;
}

/* make tooltip by hover */
.div_tooltip{
   position: relative;
}
.tooltip{
  margin: 0;
  padding: 10px;
  background: #D2D2D2;
  color: #000000;
  text-align: center;
  position: absolute;
  bottom: calc(100% + 10px); /* arrow border is 10px */
  left: 50%;
  width: 136px;
  margin-left: -68px; /* half of width 136/2 = 68 */
  display: none;
}
.tooltip::after{
  content: '';
  border: 10px solid;
  border-color: #D2D2D2 transparent transparent transparent;
  margin-left: -10px; /* border width is 10px */
  position: absolute;
  top: 100%;
  left: 50%;
  
}
.div_tooltip:hover .tooltip{
  display: block;
}

/* first child */
.first_child p:first-child{
  padding: 15px 20px;
  background: #D2D2D2;
  color: #000000;
}
.first_child p:first-child span:first-child{
  color: #00AA00
}

q:lang(another){
  quotes: "~[" "]~"
}