ul, ol{
  background: #1F1F1F;
  padding: 10px 50px;
}
/* Unodered List */
.circle{
  list-style-type: circle;
}
.square{
  list-style-type: square;
}

/* Ordered List */
.roman{
  list-style-type: /*decimal*/ lower-roman;
}
.alpha{
  list-style-type: upper-alpha;
}

/* image as item marker */
.image{
  list-style-image: url('./images/bullet.png');
}

/* position */
.inside{
  list-style-position: inside;
}
.outside{
  list-style-position: outside;
}

/* shorthand */
.list_short{
  list-style: circle outside url('./images/bullet.png');
}