div{
  width: 250px;
  height: 150px;
  background: #1F1F1F;
  padding: 15px 20px;
  margin: 80px auto;
}
.visible{
  overflow: visible;
}
.hidden{
  overflow: hidden;
}
.scroll{
  overflow: scroll;
}
.auto{
  overflow: auto;
}

.x_y p{
  white-space: nowrap;
}
.x_y{
  overflow-x: auto;
  overflow-y: hidden;
}