*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.margin{
  width: 450px;
  height: 385px;
  padding: 45px;
  border: 1px dashed #bbb;
  margin: 20px auto;
  background: #f1f1f1;
  position: relative;
}
.border{
  width: 360px;
  height: 295px;
  padding: 45px;
  background: #04AA6D;
  position: relative;
}
.padding{
  width: 270px;
  height: 205px;
  padding: 45px;
  background: #f1f1f1;
  position: relative;
}
.content{
  width: 180px;
  height: 115px;
  padding: 20px;
  border: 1px dashed #ddd;
  background: #FFFFFF;
  position: relative;
}