*{
  margin: 0;
  padding: 0;
  box-sizing: border-box
}
body{
  background: black;
  font-size: 14px;
  font-family: sans-serif;
  text-transform: capitalize;
}
.margin{
  width: 90%;
  height: 475px;
  padding: 45px;
  border: 1px dashed #bbb;
  margin: 20px auto;
  background: #04AA6D;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.outline{
  width: 100%;
  height: 100%;
  padding: 45px;
  background: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.border{
  width: 100%;
  height: 100%;
  padding: 45px;
  background: #04AA6D;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.padding{
  width: 100%;
  height: 100%;
  padding: 45px;
  background: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.content{
  width: 100%;
  height: 100%;
  padding: 10px;
  border: 1px dashed #bbb;
  background: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.text{
  position: absolute;
  top: 15px;
}


.outline1{
  width: calc(90% - 90px);
  height: 295px;
  padding: 45px;
  border: 45px solid #04AA6D;
  outline: 45px solid #FFFFFF; /* outline don't grab space */
  margin: 90px auto;
  color: #FFFFFF;
}