*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
div{
  background: var(--clr);
  padding: 50px;
  margin: 10px 0;
  color: #000;
}
.calc{
  width: calc(100% - 100px);
}
.min{
  width: min(50%, 400px);
}
.max{
  width: max(50%, 300px);
}
