div{
  height: 300px;
  width: min(400px, 100%);
  margin: 50px auto;
  box-shadow: 0px 0px 15px #A6A6A6;
  box-sizing: border-box;
}

/* multiple background */
.multi_back{
  background-image: url(../images/background2.png), url(../images/background.png);
  background-repeat: no-repeat, repeat;
  background-position: right bottom, left top;
}
.multi_back_short{
  background: url(../images/background2.png) no-repeat right bottom, url(../images/background.png) repeat left top;
}



/* background-size property */
.back_size{
  background-image: url(../images/background2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100px;
}
.back_size_cover{
  background-image: url(../images/background2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.back_size_contain{
  background-image: url(../images/background2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}



div[class^="back_origin"],div[class^="back_clip"]{
  box-shadow: none;
  padding: 35px;
  border: 10px solid rgba(255, 255, 255, .4);
  background-color: #F52525;
  background-image: url(../images/background2.png);
  background-repeat: no-repeat;
}

/* background-origin property specifies where the background image is positioned */
.back_origin_border{
  background-origin: border-box;
}
.back_origin_padding{
  background-origin: padding-box; /* default */
}
.back_origin_content{
  background-origin: content-box;

}

/* background-clip property specifies the painting area of the background */
.back_clip_border{
  background-clip: border-box; /* default */
}
.back_clip_padding{
  background-clip: padding-box;
}
.back_clip_content{
  background-clip: content-box;
}