p, a{
  padding: 15px;
  background: #1F1F1F;
  margin: 20px 0;
  display: block;
}

/*--------------------
color and background */
.color_background{
  background: #CECECE;
  color: #000000;
}

/*----------
text align */
.center{
  text-align: center;
}
.justify{
  text-align: justify;
}
.right{
  text-align: right;
}

/* text align last */
.last_justify{
  text-align-last: justify;
}
.last_right{
  text-align-last: right;
}

/* text direction */
.right_to_left{
  direction: rtl;
  unicode-bidi: bidi-override;
}

/* vertical align */ 
.baseline{
  vertical-align: baseline;
}
.top{
  /* vertical-align: text-top; */
  vertical-align: super;
}
.bottom{
  /* vertical-align: text-bottom; */
  vertical-align: sub;
}

/*-------------
text decoration
--------------*/
.none{
  text-decoration-line: none;
}
.overline{
  text-decoration-line: overline;
  text-decoration-color: var(--clr);
  text-decoration-style: dashed;
  text-decoration-thickness: 5px;
}
.line-through{
  text-decoration-line: line-through;
  text-decoration-color: var(--clr);
  text-decoration-style: double;
  text-decoration-thickness: 2px;
}
.underline_overline{
  text-decoration-line: underline overline;
  text-decoration-color: var(--clr);
  text-decoration-style: wavy;
  text-decoration-thickness: 3px;
}
.shorthand{
  text-decoration: underline var(--clr) solid 5px;
}

/*-----------------
text transformation 
------------------*/
.uppercase{
  text-transform: uppercase;
}
.lowercase{
  text-transform: lowercase;
}
.capitalize{
  text-transform: capitalize;
}

/*----------
Text Spacing
-----------*/
.text_indent{
  text-indent: 100px;
}
.letter_spacing{
  letter-spacing: 5px;
}
.line_height_small{
  line-height: 0.7;
}
.line_height_bigger{
  line-height: 1.6;
}
.word_spacing{
  word-spacing: 30px;
  /* word-spacing: -2px; */
}
.white_space{
  white-space: nowrap;
}

/*----------
Text Shadow
-----------*/
.text_shadow{
  text-shadow: 10px 10px 10px var(--clr),
              -10px -10px 10px #FF0000;
}